#__zawarudo_invert {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  backdrop-filter: invert(100%) sepia(100%);
  z-index: calc(9e999);
  min-height: 50px;
  min-width: 50px;
  transform: translate(-50%, -50%);
  border-radius: 10000px;
  transition-timing-function: ease-in-out;
}

#__zawarudo_sepia {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: sepia(100%);
  opacity: 0;
  z-index: calc(9e999);
}